@media screen and (min-aspect-ratio: 1/1) and (min-width: 1440px) {
    #card {
        font-size: 1vw;
        width: 24vw;
        height: 40vw;
    }

    #avatar {
        width: 12vw;
        height: 12vw;
    }

    .days {
        font-size: 5vw;
    }
}

@media screen and (min-aspect-ratio: 1/1) and (min-width: 1024px) and (max-width: 1440px) {
    #card {
        font-size: 1.2vw;
        width: 28.8vw;
        height: 48vw;
    }

    #avatar {
        width: 14.4vw;
        height: 14.4vw;
    }

    .days {
        font-size: 6vw;
    }
}

@media screen and (min-aspect-ratio: 1/1) and (max-width: 1024px) {
    #card {
        font-size: 1.6vw;
        width: 38.4vw;
        height: 64vw;
    }

    #avatar {
        width: 19.2vw;
        height: 19.2vw;
    }

    .days {
        font-size: 8vw;
    }
}

@media screen and (max-aspect-ratio: 1/1) and (min-width: 640px) {
    #card {
        font-size: 2.4vw;
        width: 52vw;
    }

    #avatar {
        width: 26vw;
        height: 26vw;
    }

    .days {
        font-size: 9.6vw;
    }

}

@media screen and (max-aspect-ratio: 1/1) and (max-width: 640px) and (min-width: 520px) {
    #card {
        font-size: 3vw;
        width: 64vw;
    }

    #avatar {
        width: 32vw;
        height: 32vw;
    }

    .days {
        font-size: 12vw;
    }

}

@media screen and (max-aspect-ratio: 1/1) and (max-width: 520px) and (min-width: 480px) {
    #card {
        font-size: 3.2vw;
        width: 72vw;
    }

    #avatar {
        width: 36vw;
        height: 36vw;
    }

    .days {
        font-size: 14.4vw;
    }
}

@media screen and (max-aspect-ratio: 1/1) and (max-width: 480px) {
    #card {
        font-size: 3.6vw;
        width: 90vw;
    }

    #avatar {
        width: 45vw;
        height: 45vw;
    }

    .days {
        font-size: 18vw;
    }

}